extends components/_base

block variables
    - navLinks[0].active = true

block head
    link(href=require("/src/styles/components/main.sass"), rel="stylesheet")
    script(src=require("/src/js/index.js"), defer)

block main
    main#main
        section#automoto
            .container.h-100
                p.automoto-subtitle.text-center.text-white Автошкола в Санкт-Петербурге
                .d-flex.flex-column.justify-content-center.h-100
                    h1.title.text-center.text-white АвтоМото
                    ul.automoto__description.text-center.text-white
                        li.automoto__li Лицензированная автошкола СПб с парком новых иномарок
                        li.automoto__li Обучение вождению онлайн и офлайн с полным сопровождением
                        li.automoto__li Автодромы у метро рядом с домом, профессиональные инструкторы
                        li.automoto__li Практика для водителей категории Б по маршрутам ГИБДД
                        li.automoto__li Права за 3 месяца под ключ с беспроцентной рассрочкой за обучение
                    +enrollModal()
        section#categories
            .container
                ul.categories__ul.d-flex.justify-content-between.flex-wrap
                    each category in categories
                        li.categories__li.col-md-6.col-12
                            .category__list
                                .category__item.category__title.text-center
                                    h3= category.title
                                .category__content
                                    each advantage in category.advantages
                                        .category__item.category__advantage.text-center= advantage
                                    .category__item.category__price.text-center= category.price
                                +enrollModal()
        section#branches
            .container
                h3 Филиалы автошколы в СПб
                ul.branches__ul
                    each branch in branches
                        li.branches__li.d-flex.justify-content-center
                            a.branch__link.d-flex.align-items-center.w-100(href=`branches/${branch.href}`)
                                img.branch__icon(src=require("./assets/icons/point.svg"), alt="")
                                p.branch__name= branch.name
        section#why-we
            .container
                h3 Почему выбирают нас
                ul.why-we__ul
                    each card in whyWeCards
                        li.why-we__li
                            img.why-we__icon(src=require(card.imageSrc), alt=card.imageAlt)
                            h5.why-we__subtitle.text-center= card.title
                            p.why-we__description.text-center= card.description
        section#auto-stages
            .container
                h3 Как проходит обучение на АВТО
                ul.stages__ul.col-xl-10.col-lg-12.mx-auto.d-flex.flex-wrap.justify-content-sm-center.justify-content-start
                    each stage in autoStages
                        li.auto-stages__li.col-sm-3.col-12
                            span.stage__index= stage.index
                            h5.stage__title= stage.title
                            p.stage__description= stage.description
                +enrollModal()
        .photos-n-moto-stages
            section#photos
                .container
                    ul.photos__ul.d-flex.justify-content-around.flex-md-row.flex-column
                        li.photos__li
                            h3 Автоплощадки
                            +carousel(autoArea, 1, "photo", {
                                isControlled: true,
                                isDescripted: true,
                                carouselClasses: "carousel-fade"
                            })
                        li.photos__li
                            h3 Мотоплощадки
                            +carousel(motoArea, 2, "photo", {
                                isControlled: true,
                                isDescripted: true,
                                carouselClasses: "carousel-fade"
                            })
            section#moto-stages
                .container
                    h3.text-center Как проходит обучение на МОТО
                    ul.moto-stages__ul.d-flex.mx-auto.justify-content-center.align-items-center.flex-sm-row.flex-column
                        li.moto-stages__li.col-sm-5.col-10
                            ul.moto-stage__ul
                                each stage in motoStages
                                    li.moto-stage__li
                                        span.stage__index= stage.index
                                        h5.stage__title= stage.title
                                        p.stage__description= stage.description
                        li.moto-stages__li
                            img.moto-stages__image(src=require("assets/images/woman-on-moto.webp"), alt="Женщина на мотоцикле")
                    +enrollModal()
        section#instructors
            .container
                h3.text_white.text-center Инструкторы
                ul.instructors__ul.d-none.d-md-flex.justify-content-center.flex-wrap
                    each instructor in instructors
                        li.instructors__li
                            img.instructor__image(src=require(instructor.imageSrc), alt=instructor.name + " фото")
                            .instructor__content
                                h5.text-center.instructor__name= instructor.name
                                p.text-center.instructor__age= instructor.age
                                p.text-center.instructor__description= instructor.description
                +carousel(instructors, 5, "instructor", {
                    isControlled: true,
                    carouselClasses: "d-md-none d-block",
                    controlWhite: true
                })
        .autopark-n-reviews
            section#autopark
                .container
                    h3.text-center Автопарк
                    +carousel(cars, 3, "photo", { isControlled: true, isDescripted: true })
            section#reviews
                .container
                    h3.text-center Отзывы
                    +carousel(reviews, 4, "review", { isControlled: true, isDescripted: true })
        section#events
            .container
                .event
                    h3.text_red Новая Акция
                    p.event__description.text-center Сдать на права A+B с выгодой 5000 руб.
                .event
                    h3.text_red Услуга выездной менеджер
                    p.event__description.text-center Оставьте заявку, чтобы заключить договор со школой вождения уже через 1,5 часа
            +enrollModal()
        section#faq
            .container
                h3.text-center Часто задаваемые вопросы
                .accordion#faq-accordion
                    each el, i in questions
                        +accordionItem(i, el.question, el.answer)
        section#enroll
            .container
                h3.text_white.text-center Остались вопросы?
                p.enroll__description.text-center.text_white Наш менеджер свяжется с Вами через несколько минут
                +enrollForm('enroll-form')