extends components/_base

block variables
    - navLinks[0].active = true

block head
    link(href=require("/src/styles/components/main.sass"), rel="stylesheet")

block head_start
    // Google Tag Manager
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-59TXGMR');
    // End Google Tag Manager
    script(src='https://cdn.proffskills.ru/static/js/autoschool/autoschoolInfoUpdating.js' defer='')


block body_start
    // Yandex.Metrika counter
    script(type='text/javascript').
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(91557273, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
        });
    noscript
        div
            img(src='https://mc.yandex.ru/watch/91557273' style='position:absolute; left:-9999px;' alt='')
    // /Yandex.Metrika counter
    // Google Tag Manager (noscript)
    noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-59TXGMR' height='0' width='0' style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)


block main
    noscript
        div(style='color: red; position: fixed; bottom: 5px; left: 5px; z-index: 999')
            | JavaScript отключен, информация на
            | сайте может быть неполной
    main#main
        section#automoto
            .container.h-100
                p.automoto-subtitle.text-center.text-white Автошкола в Санкт-Петербурге
                .d-flex.flex-column.justify-content-center.h-100
                    h2.title.text-center.text-white АвтоМото
                    ul.automoto__description.text-center.text-white
                        li.automoto__li
                            h1 Лучшая автошкола Санкт-Петербурга
                                br
                                | с профессиональными инструкторами
                    +enrollModal()
        section#categories
            .container
                ul.categories__ul.d-flex.justify-content-between.flex-wrap
                    each category in categories
                        li.categories__li.col-md-6.col-12
                            .category__list
                                .category__item.category__title.text-center
                                    h3= category.title
                                .category__content
                                    each advantage in category.advantages
                                        .category__item.category__advantage.text-center= advantage
                                    .category__item.category__price.text-center
                                        span.auto-param(data-type='price' data-key=category.key data-format) ...
                                        | &nbsp;₽
                                +enrollModal()
        section#extra-hours
            .container
                h3 Дополнительные занятия по вождению
                ul.categories__ul.d-flex.justify-content-between.flex-wrap
                    each extraHour in extraHours
                        li.categories__li.col-md-6.col-12.mt-5
                            .category__list
                                .category__item.category__title.text-center
                                    h3= extraHour.title
                                .category__content
                                    each advantage in extraHour.advantages
                                        .category__item.category__advantage.text-center= advantage
                                    .category__item.category__price.text-center
                                        span.auto-param(data-type='overrun' data-key=extraHour.pack data-format) ...
                                        | &nbsp;₽
                                +enrollModal()
        section#branches
            .container
                h3 Филиалы автошколы в СПб
                ul.branches__ul
                    each branch in branches
                        li.branches__li.d-flex.justify-content-center
                            a.branch__link.d-flex.align-items-center.w-100(href=`branches/${branch.href}`)
                                img.branch__icon(src=require("./assets/icons/point.svg"), alt="")
                                p.branch__name= branch.name
        section#why-we
            .container
                h3 Почему выбирают нас
                ul.why-we__ul
                    each card in whyWeCards
                        li.why-we__li
                            img.why-we__icon(src=require(card.imageSrc), alt=card.imageAlt)
                            h5.why-we__subtitle.text-center= card.title
                            p.why-we__description.text-center= card.description
        section#auto-stages
            .container
                h3 Как проходит обучение на АВТО
                ul.stages__ul.col-xl-10.col-lg-12.mx-auto.d-flex.flex-wrap.justify-content-sm-center.justify-content-start
                    each stage in autoStages
                        li.auto-stages__li.col-sm-3.col-12
                            span.stage__index= stage.index
                            h5.stage__title= stage.title
                            p.stage__description= stage.description
                +enrollModal()
        .photos-n-moto-stages
            section#photos
                .container
                    ul.photos__ul.d-flex.justify-content-around.flex-md-row.flex-column
                        li.photos__li
                            h3 Автоплощадки
                            +carousel(autoArea, 1, "photo", {
                                isControlled: true,
                                isDescripted: true,
                                carouselClasses: "carousel-fade"
                            })
                        li.photos__li
                            h3 Мотоплощадки
                            +carousel(motoArea, 2, "photo", {
                                isControlled: true,
                                isDescripted: true,
                                carouselClasses: "carousel-fade"
                            })
            section#moto-stages
                .container
                    h3.text-center Как проходит обучение на МОТО
                    ul.moto-stages__ul.d-flex.mx-auto.justify-content-center.align-items-center.flex-sm-row.flex-column
                        li.moto-stages__li.col-sm-5.col-10
                            ul.moto-stage__ul
                                each stage in motoStages
                                    li.moto-stage__li
                                        span.stage__index= stage.index
                                        h5.stage__title= stage.title
                                        p.stage__description= stage.description
                        li.moto-stages__li
                            img.moto-stages__image(src=require("assets/images/woman-on-moto.webp"), alt="Женщина на мотоцикле")
                    +enrollModal()
        section#instructors
            .container
                h3.text_white.text-center Инструкторы
                ul.instructors__ul.d-none.d-md-flex.justify-content-center.flex-wrap
                    each instructor in instructors
                        li.instructors__li
                            img.instructor__image(src=require(instructor.imageSrc), alt=instructor.name + " фото")
                            .instructor__content
                                h5.text-center.instructor__name= instructor.name
                                p.text-center.instructor__age= instructor.age
                                p.text-center.instructor__description= instructor.description
                +carousel(instructors, 5, "instructor", {
                    isControlled: true,
                    carouselClasses: "d-md-none d-block",
                    controlWhite: true
                })
        .autopark-n-reviews
            section#autopark
                .container
                    h3.text-center Автопарк
                    +carousel(cars, 3, "photo", { isControlled: true, isDescripted: true })
            section#reviews
                .container
                    h3.text-center Отзывы
                    +carousel(reviews, 4, "review", { isControlled: true, isDescripted: true })
        section#events
            .container
                .event
                    h3.text_red Новая Акция
                    p.event__description.text-center Сдать на права A+B с выгодой 5000 руб.
                .event
                    h3.text_red Услуга выездной менеджер
                    p.event__description.text-center Оставьте заявку, чтобы заключить договор со школой вождения уже через 1,5 часа
            +enrollModal()
        section#faq
            .container
                h3.text-center Часто задаваемые вопросы
                .accordion#faq-accordion
                    each el, i in questions
                        +accordionItem(i, el.question, el.answer)
        section#enroll
            .container
                h3.text_white.text-center Остались вопросы?
                p.enroll__description.text-center.text_white Наш менеджер свяжется с Вами через несколько минут
                +enrollForm(1, 'enroll-form')

block body_end
    script(src=require("/src/js/index.js") defer)
